:root {
    --white: rgba(240, 248, 255, 0.654);
    --red: rgba(253, 104, 104, 0.851);
    --purple: rgba(179, 92, 255, 0.821);
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../public/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 300vw;
    background: linear-gradient(to right, var(--purple), var(--red));
    font-family: SpaceGrotesk;
    overflow: hidden;
}


canvas {
    position: absolute;
    left: 250vw;
    top: 10vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    animation: run 20s linear infinite;
}

section {
    position: absolute;
    color: rgba(39, 39, 255, 0.848);
    padding: 1vw;
    box-shadow: 0 10px 50px antiquewhite;
    background-color: var(--white);
    border-radius: 15px;
}

section#title {
    top: 40vh;
    left: 37vw;
    z-index: 5;
    background-color: rgba(240, 248, 255, 0.899);
}

div.masonry {
    top: -10vh;
    left: 3vw;
    position: absolute;
    width: 100vw;
    height: 109vh;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    transform: perspective(100vw) rotateX(30deg);
}

div.masonry > img {
    min-width: 12.5%;
    max-width: 25%;
    min-height: 12.5%;
    max-height: 33%;
    margin: 10px;
    background: #f0f0f0;
    border-radius: 15px;
}

aside {
    width: 35vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 110%;
    position: absolute;
    transform: perspective(25vw) rotateX(0deg) rotateY(15deg);
    background-color: var(--white);
    border-radius: 50px;
    box-shadow: 0 10px 50px antiquewhite;
}

aside>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

main {
    padding-top: 10vh;
    margin-left: 140vw;
    height: 90vh;
    overflow-y: auto;
}

article {
    transform: perspective(25vw) rotateX(20deg) rotateY(-15deg);
    box-shadow: 0 10px 50px antiquewhite;
    background-color: var(--white);
    padding: 15px;
    border-radius: 15px;
    width: 33vw;
    height: fit-content;
    margin-bottom: 3vh;
    margin-left: 5%;
    transition: height .5s ease, width .5s ease,
        transform .2s ease;
}

summary {
    transition: display .5s ease;
    color: rgb(65, 65, 65);
    display: none;
    font-style: italic;
}

p {
    display:none;
    transition: transform .2s ease .2s, background-color .2s ease .2s, padding .2s ease .2s;
}

p:hover {
    background-color: rgba(255, 244, 240, 0.161);
    padding: 1vw;
    border-radius: 15px;
    transform: scale(1.07);
}

article:hover {
    transform: scale(1.3) perspective(27vw) rotateX(13deg) rotateY(-15deg);
}

article#active {
    transform: scale(1.3) perspective(100vw) rotateX(13deg) rotateY(-15deg);
}

article#selected {
    width: 40vw;
    transform: scale(1.3) perspective(100vw) rotateX(13deg) rotateY(-15deg);
    z-index: 5;
}

article#active > summary, article#selected > summary {
    display: block;
}

article#selected > p {
    display: block;
}

span.badge {
    color: var(--red);
    border-radius: 15px;
    border: groove;
    border-width: 1px;
    padding: 3px;
}

svg {
    position: fixed;
    z-index: 5;
}

svg:hover {
    transform: scale(1.4);
    transition: transform .1s ease;
}

svg#next {
    right: 2vw;
    top: 45vh;
}

svg#prev {
    left: 2vw;
    top: 45vh;
}

section#about {
    top: 35vh;
    left: 250vw;
}

@keyframes run {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-50%);
    }
}